.section__blog {
  display: grid;
  grid-template-columns: minmax(min-content, 0.3fr) 1fr;
  align-items: start;
  grid-gap: 8rem;
  padding: 7rem 11rem;
  color: $color-header;

  @media only screen and (max-width: $bp-large) {
    padding: 7rem 5rem;
  }

  @media only screen and (max-width: $bp-meduim) {
    grid-template-columns: 1fr;
    text-align: center;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 7rem 2rem;
  }
}

.blog__left {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 6rem;
  padding-right: 4rem;
  border-right: 1px solid rgba(#cacaca, 0.57);

  @media only screen and (max-width: $bp-meduim) {
    border: none;
    padding-right: 0;
  }
}

.blog {
  &__hero {
    &__img {
      width: 16rem;
      height: 16rem;
      margin-bottom: 2rem;
    }

    &__paragraph {
      margin-bottom: 2rem;
    }

    &__social {
      display: flex;
      list-style: none;

      @media only screen and (max-width: $bp-meduim) {
        justify-content: center;
      }

      &--item {
        &:not(:last-child) {
          margin-right: 1.5rem;
        }
      }

      &--link {
      }

      &--link:hover > &--icon {
        transform: scale(1.1);
      }

      &--icon {
        width: 4rem;
        height: 4rem;
        transition: all 0.2s;
      }
    }
  }

  &__search {
    padding: 6rem 0;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    &__heading {
      font-size: 3rem;
      color: $color-header;
      margin-bottom: 2rem;
    }

    &__form {
      position: relative;
    }

    &__input {
      outline: none;
      border-radius: 5rem;
      padding: 1rem 1.5rem;
      font-family: inherit;
      font-size: 1.5rem;
      border: none;
      border: 1px solid #c6c6c6;
      width: 70%;

      &::placeholder {
        font-size: 1.5rem;
      }

      &:focus {
        outline: 1px solid $color-pink;
      }
    }

    &__btn {
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
      position: absolute;
      left: 75%;
      top: 50%;
      transform: translateY(-50%);
    }

    &__icon {
      width: 1.2rem;
      height: 1.2rem;
      fill: rgba(#3a3a3a, 0.75);
    }
  }

  &__cat {
    &__heading {
      font-size: 3rem;
      color: $color-header;
      margin-bottom: 2rem;
    }

    &__list {
      list-style: none;
    }

    &__item {
      padding: 0 0 1.5rem 0;
      border-bottom: 1px solid #e4e4e4;
      margin-bottom: 1.5rem;
      display: grid;
      grid-template-columns: min-content 1fr;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: $bp-meduim) {
        grid-template-columns: 1fr;
      }
    }

    &__item:hover > &__link {
      color: $color-pink;
    }

    &__item:hover > &__span {
      background-color: $color-pink;
    }

    &__span {
      width: 0.8rem;
      height: 0.8rem;
      background-color: #8b8b8b;
      display: inline-block;
      border-radius: 50%;
      margin-right: 1rem;
      transition: all 0.2s;

      @media only screen and (max-width: $bp-meduim) {
        display: none;
      }
    }

    &__link {
      &,
      &:visited,
      &:link {
        text-decoration: none;
        font-size: 1.7rem;
        color: $color-header;
        transition: all 0.2s;
      }
    }
  }

  &__article {
    &__span {
      align-self: start;
      margin-top: 0.7rem;
    }
  }
}

.blog__right {
  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-tab) {
      flex-direction: column;
      align-items: center;
    }

    @media only screen and (max-width: $bp-meduim) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__display {
    list-style: none;
    display: flex;
    padding: 1.2rem 2.5rem;
    border: 1px solid #e4e4e4;
    border-radius: 5rem;

    @media only screen and (max-width: $bp-tab) {
      margin-bottom: 2rem;
    }
  }

  &__style {
    &:not(:last-child) {
      margin-right: 2.5rem;
    }
  }

  &__link {
    &,
    &:visited,
    &:link {
      text-decoration: none;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: #b8b8b8;
    transition: all 0.2s;

    &:hover {
      fill: $color-pink;
    }

    &--active {
      fill: $color-pink;
    }
  }

  &__form {
  }

  &__sort {
    width: 100%;
    border: 1px solid #d2d2d2;
    border-radius: 5rem;
    padding: 1.3rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    display: grid;
    grid-template-areas: "select";
    align-items: center;

    &::after {
      content: "";
      width: 0.8em;
      height: 0.5em;
      background-color: #777;
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      grid-area: select;
      justify-self: end;
    }
  }

  &__select {
    padding: 0 2rem 0 1rem;
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    grid-area: select;
    color: #797878;
    &::-ms-expand {
      display: none;
    }
  }
}

.blog__stories {
  display: block;
  &__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 5.3rem;
    grid-column-gap: 4rem;
    margin-bottom: 5rem;

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: auto;
    }
  }

  &__director {
    &,
    &:visited,
    &:link {
      text-decoration: none;
    }
  }

  &__card:hover > &__title {
    color: $color-pink;
  }

  &__card:hover > &__figure {
    transform: scale(1.01);
  }

  &__card {
    text-align: center;
  }

  &__figure {
    margin-bottom: 2rem;
    transition: all 0.2s;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 1.7rem;
    color: $color-header;
    transition: all 0.2s;
  }

  &__date {
    font-size: 1.5rem;
    color: rgba(#3a3a3a, 0.75);
    margin-bottom: 1.5rem;
  }

  &__desc {
    color: #3a3a3a;
  }

  &__nav {
    &__list {
      list-style: none;
      display: flex;
      justify-content: center;
    }

    &__item {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      background-color: rgba(#3a3a3a, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s;
      &:not(:last-child) {
        margin-right: 2.5rem;
      }

      &--active {
        background-color: $color-pink;
      }

      &:hover {
        background-color: $color-pink;
      }
    }

    &__link {
      &,
      &:visited,
      &:link {
        display: block;
        text-decoration: none;
        font-size: 2rem;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }

    &__icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: #ffffff;
    }
  }
}

.blog__stories__container__col-3 {
  grid-template-columns: repeat(3, auto);

  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: repeat(2, auto);
  }

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: auto;
  }
}
