.section__our-story {
  position: relative;
}

.our-story {
  &__gallery {
    &--container {
      background-color: $color-grey;
    }

    &--header {
      height: 50vh;
      display: grid;
      grid-template-columns: min-content 33rem min-content;
      grid-template-rows: repeat(2, min-content);
      justify-content: center;
      align-items: center;
      align-content: center;
      grid-row-gap: 2rem;
      color: $color-dark-1;

      @media only screen and (max-width: $bp-meduim) {
        grid-template-columns: 1fr;
      }

      @media only screen and (max-width: $bp-smallest) {
        padding: 0 2rem;
      }
    }

    &--heading {
      font-size: 5rem;

      margin: 0 2.5rem;
      text-align: center;
    }

    &--rose {
      width: 14.5rem;
      height: 7.3rem;
      object-fit: cover;

      @media only screen and (max-width: $bp-meduim) {
        display: none;
      }
    }

    &--paragraph {
      grid-column: 1/-1;
      text-align: center;
    }

    &--show {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @media only screen and (max-width: $bp-meduim) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &--figure {
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer;

      &__span {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        display: block;
        top: 0;
        font-size: 6rem;
        color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        z-index: 0;
        text-align: center;
      }
    }

    &--figure:hover > &--figure__span {
      background-color: rgba(0, 0, 0, 0.6);
      color: #ffffff;
    }

    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
