.section__cards {
  text-align: center;
}

.card__btn {
  margin-top: 6rem;
}

.our-stay {
  &__heading {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
  }

  &__rose {
    width: 14.5rem;
    height: 7.3rem;
    object-fit: cover;

    @media only screen and (max-width: $bp-meduim) {
      display: none;
    }
  }

  &__header {
    font-size: 5rem;
    margin: 0 2.5rem;
    text-align: center;
  }

  &__gallery {
    padding: 0 7.5rem;
    background-image: url(../img/heart-group.png);
    background-position: center;
    background-size: 7%;
    background-repeat: no-repeat;

    @media only screen and (max-width: $bp-largest) {
      background-image: none;
    }

    @media only screen and (max-width: $bp-sm) {
      padding: 0 2rem;
    }

    &--item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15%;
      align-items: center;
      justify-items: center;
      &:not(:last-child) {
        margin-bottom: 6rem;
      }

      @media only screen and (max-width: $bp-meduim) {
        grid-template-columns: 1fr;
        grid-gap: 3rem;
        &:not(:last-child) {
          margin-bottom: 10rem;
        }
      }
    }

    &--figure {
      width: 100%;
      height: 100%;
      border: 4px solid transparent;
      transition: all 0.2s;
      border-radius: 2rem;
      &:hover {
        border-color: #ffbec1;
      }

      @media only screen and (max-width: $bp-meduim) {
        width: 70%;
      }
    }

    &--img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1.5rem;

      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
    }

    &--text {
      @media only screen and (max-width: $bp-meduim) {
        order: 2;
        text-align: center;
        width: 80%;
      }
    }

    &--heading {
      font-size: 3.1rem;
      margin-bottom: 1rem;
      color: #3f3f3f;
    }

    &--date {
      color: $color-pink;
      margin-bottom: 1rem;
    }
  }
}
