// Main Colors
$color-pink: #ff656b;
$color-brown: #94658a;
$color-dark-1: #353139;
$color-dark-2: #371a35;
$color-green: #93c358;
$color-light: #ffeeef;
$color-orange: #ec9684;
$color-grey: #f3f3f3;

//Typography Colors
$color-header: #3a3a3a;
$color-main-para: #3f3f3f;
$color-sub-1: #656565;
$color-sub-2: #606060;

$bp-huge: 81.25em; //1300px
$bp-huge-1: 78.125em; //1250px
$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-1000: 62.5em; //1000px
$bp-tab: 56.25em; //900px
$bp-meduim: 50em; //800px
$bp-sm: 43.75em; //700px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px
$bp-400: 25em; //400px
$bp-smallestest: 21.875em; //350px
