#diamond-line {
  display: block;
  width: 20rem;
  height: 4rem;
  margin: 0 auto;
}

#diamond-vertical {
  width: 3rem;
  height: 3rem;

  @media only screen and (max-width: $bp-large) {
    display: none;
  }
}

#link-active {
  color: $color-pink;

  &:hover {
    color: $color-header;
  }
}

.btn--parent {
  display: inline-block;
  position: relative;
  z-index: 0;
  width: 20rem;
  height: 5.085rem;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 10rem;
  font-size: 1.7rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  background-color: $color-pink;
  font-weight: 500;

  &--pink {
    background-color: #ffffff;
    color: $color-pink;
  }
}
.btn-svg {
  position: absolute;
  z-index: -1;
  width: 110%;
  height: 190%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke-opacity: 1;
  stroke-linecap: round;
}

.btn-rect {
  position: absolute;
  width: 98%;
  height: 100%;
  fill: transparent;
  stroke-width: 6;
  stroke: #ffffff;
  top: 0;
  left: 0;
  stroke-dashoffset: 695;
  stroke-dasharray: 1000;
  transition: all 1s;

  &--pink {
    stroke: $color-pink;
  }
}

.btn-primary:hover ~ svg > .hover {
  stroke-dashoffset: -305;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.corner-rose {
  &__img {
    position: absolute;
    width: 20rem;
    height: 10rem;
    top: 0;

    @media only screen and (max-width: $bp-meduim) {
      display: none;
    }
    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}

.svg-wrapper {
  height: 71px;
  width: 210px;
  position: relative;
  margin: 0 auto;
}

.shape {
  fill: transparent;
  stroke-dasharray: 270 940;
  stroke-dashoffset: -110;
  stroke-width: 8px;
  stroke: #ffffff;
  border-radius: 50rem;
}
