.heading-rose {
  display: flex;
  flex-direction: column;

  &__paragraph {
    text-align: center;
    margin-bottom: 2.5rem;
    font-weight: 500;

    &--white {
      color: $color-white;
    }
    &--green {
      color: $color-primary;
      font-weight: 400;
    }
  }

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-align: center;
    margin: 0 1rem;

    &--white {
      color: $color-white;
    }
  }

  &__icon {
    width: 1.8rem;
    height: 1.8rem;
    margin: 0 1rem;
    fill: $color-primary;
    &--white {
      fill: $color-white;
    }
  }

  &__span {
    display: inline-block;
    background-color: $color-primary;
    width: 4.5rem;
    height: 0.5px;

    &--white {
      background-color: $color-white;
    }
  }
}

.decor {
  width: 14rem;
  height: 8rem;

  @media only screen and (max-width: $bp-meduim) {
    display: none;
  }
}
