// Main Colors
$color-primary: #b378d4;
$color-white: #ffffff;
$color-black: #000000;

//Typography Colors
$color-para: #3a3a3a;
$color-para-grey: #e5e5e5;

$bp-huge: 81.25em; //1300px
$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-1000: 62.5em; //1000px
$bp-tab: 56.25em; //900px
$bp-meduim: 50em; //800px
$bp-sm: 43.75em; //700px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px
$bp-400: 25em; //400px
$bp-smallestest: 21.875em; //350px
