.heading__star {
  font-size: 5.5rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
  text-align: center;

  &--white {
    color: $color-white;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 18.8rem;
    height: 2.5rem;
    fill: $color-primary;

    &--white {
      fill: $color-white;
    }
  }
}
