.office-location {
  &__container {
    padding: 5rem 7.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    background-image: linear-gradient(to right, #ffffff 40%, $color-pink 40%);

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: 1fr;
      background-image: linear-gradient(
        to bottom,
        $color-pink 60%,
        #ffffff 60%
      );
    }

    @media only screen and (max-width: $bp-meduim) {
      background-image: linear-gradient(
        to bottom,
        $color-pink 40%,
        #ffffff 40%
      );
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 5rem 2rem;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-meduim) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    padding: 7rem 3.5rem;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    background-color: #ffffff;
    text-align: center;
    border-radius: 1rem;
    color: $color-header;

    @media only screen and (max-width: $bp-smallest) {
      padding: 4rem 2rem;
    }
  }

  &__icon {
    width: 6rem;
    height: 6rem;
    margin-bottom: 2rem;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  &__span {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: rgba($color-header, 0.75);
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content repeat(3, auto) max-content;
    grid-gap: 4rem;
    align-items: center;
    align-content: center;
    justify-items: center;
    color: #ffffff;
    &--heading {
      font-size: 3.5rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
    }

    @media only screen and (max-width: $bp-largest) {
      order: -1;
    }
  }

  &__input {
    width: 100%;
    padding: 1.8rem 3rem;
    font-family: inherit;
    outline: none;
    border: none;
    border-radius: 1rem;

    &::placeholder {
      font-size: 1.5rem;
      color: #656565;
    }
  }

  &__cta {
    &,
    &:visited,
    &:link {
      color: $color-main-para;
    }
    &:hover {
      color: $color-pink;
    }
  }
}

.map {
  &__figure {
    height: 51rem;
  }
}
