.slider {
  &__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;

    @media only screen and (max-width: $bp-sm) {
      width: 70%;
    }

    @media only screen and (max-width: $bp-smallest) {
      width: 100%;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 2.7rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @media only screen and (max-width: $bp-1000) {
      font-size: 2rem;
    }
  }

  &__heading-primary {
    font-size: 9.5rem;
    margin-bottom: 2rem;
    animation: moveInRight 1s ease-out;
    @media only screen and (max-width: $bp-1000) {
      font-size: 6.5rem;
    }
  }

  &__paragraph {
    font-weight: 500;
    margin-bottom: 6rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @media only screen and (max-width: $bp-1000) {
      margin-bottom: 3rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      display: none;
    }
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-1000) {
      margin-bottom: 2rem;
    }
  }
}

// @keyframes animate {
//   0% {
//     width: 0%;
//     height: 0%;
//   }

//   50% {
//     width: 50%;
//     height: 100%;
//   }

//   100% {
//     width: 100%;
//     height: 100%;
//   }
// }

//RSVP //////////////////////////////////////////////
.section__rsvp {
  background-image: url("../img/rsvp.png");
}
.rsvp {
  &__container {
    grid-gap: 8rem;
    align-items: center;
    display: grid;
    grid-template-columns: max-content 1fr;
    padding: 12rem 7.5rem;

    @media only screen and (max-width: $bp-1000) {
      grid-template-columns: auto;
    }

    @media only screen and (max-width: $bp-smallest) {
      grid-gap: 3rem;
      padding: 12rem 2rem;
    }
  }
  &__form {
    position: relative;
    background-color: #ffffff;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(6, min-content);
    grid-row-gap: 2.5rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 5rem;

    @media only screen and (max-width: $bp-smallest) {
      padding: 2rem;
    }
  }

  &__heading {
    display: flex;
    justify-content: center;
  }

  &__sub-heading {
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    margin: 0 0.5rem;
  }

  &__icon {
    width: 7rem;
    height: 1rem;
    display: block;
  }

  &__name {
  }

  &__input {
    padding: 1rem 5rem;
    border-radius: 5rem;
    border: 1px solid #d2d2d2;
    text-align: center;
    font-family: inherit;
    outline: none;

    &:focus {
      outline: 1px solid $color-pink;
    }
  }

  &__sub-heading {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 400;
    color: #3a3a3a;
  }

  &__select-wrap {
    width: 100%;
    border: 1px solid #d2d2d2;
    border-radius: 5rem;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    min-width: 8rem;

    &::after {
      content: "";
      width: 0.8em;
      height: 0.5em;
      background-color: #777;
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      grid-area: select;
      justify-self: end;
    }
  }

  &__select {
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    grid-area: select;
    color: #797878;
    &::-ms-expand {
      display: none;
    }
  }

  &__attending {
    position: relative;
    z-index: 2;
  }

  &__line {
    width: 70%;
    height: 1px;
    background-color: #d2d2d2;
  }

  &__btn {
    background-color: transparent;
    outline: none;
    border: none;
  }

  &__decor {
    position: absolute;
    bottom: -5%;
    width: 30rem;
    height: 30rem;

    @media only screen and (max-width: $bp-smallest) {
      display: none;
    }
    &--1 {
      left: -10%;
    }

    &--2 {
      right: -10%;
    }
  }

  &__main-heading {
    @media only screen and (max-width: $bp-1000) {
      text-align: center;
      order: -1;
    }
  }

  &__main-header {
    font-size: 5.5rem;
    color: #ffffff;
    letter-spacing: 0.5remrem;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 4rem;
    }
  }
}

// When Where ////////////////////////////////////////////

.section__when-where {
  background-image: linear-gradient(to bottom, #ffffff 60%, $color-grey 60%);
}

.when-where {
  &__header {
    display: grid;
    grid-template-columns: min-content 33rem min-content;
    grid-template-rows: repeat(2, min-content);
    justify-content: center;
    margin-bottom: 7rem;
    grid-row-gap: 2rem;

    @media only screen and (max-width: $bp-meduim) {
      grid-template-columns: 1fr;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 0 2rem;
    }
  }

  &__container {
    text-align: center;
    padding: 0 7.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 4rem;

    @media only screen and (max-width: $bp-huge) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-tab) {
      grid-template-columns: 1fr;
    }

    @media only screen and (max-width: $bp-smallest) {
      justify-items: stretch;
      padding: 0 2rem;
    }
  }

  &__card {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    position: relative;

    display: grid;
    grid-template-rows: repeat(4, max-content);
    justify-items: center;
    grid-gap: 3rem;
    padding: 5rem 10rem;
    background-color: #ffffff;

    @media only screen and (max-width: $bp-smallestest) {
      padding: 5rem 0;
    }
    &__icon {
      width: 6rem;
      height: 6rem;
    }
    &__title {
      font-size: 2.5rem;
      font-weight: 600;
      color: $color-pink;
    }

    &__paragraph {
      font-size: 1.7rem;
      font-weight: 500;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    &__cta {
      &,
      &:visited,
      &:link {
        text-decoration: none;
        font-size: 1.7rem;
        color: $color-main-para;
        font-weight: 600;
        transition: all 0.2s;
      }

      &:hover {
        color: $color-pink;
      }
    }

    &__cta:hover > &__span {
      width: 100%;
    }

    &__span {
      display: block;
      width: 40%;
      height: 1px;
      background-color: currentColor;
      transition: all 0.2s;
      margin: 0.5rem auto;
    }

    &__decor {
      position: absolute;
      width: 15rem;
      height: 30rem;

      &--1 {
        top: 0;
        left: 0;
      }

      &--2 {
        bottom: 0;
        right: 0;
      }
    }
  }

  &__figure {
    position: relative;
    height: 13rem;
  }

  &__decor__img {
    position: absolute;
    height: 100%;
    width: 15rem;

    @media only screen and (max-width: $bp-smallestest) {
      display: none;
    }
    &--1 {
      left: 0;
    }

    &--2 {
      right: 0;
    }
  }
}

//Logos///////////////////////////////////////////////////////

.logo {
  &__container {
    padding: 7rem 7.5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 4rem;
    border-top: 1px solid $color-grey;

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media only screen and (max-width: $bp-tab) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: $bp-sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 5rem 2rem;
    }

    @media only screen and (max-width: $bp-smallestest) {
      grid-template-columns: 1fr;
      grid-gap: 5rem;
    }
  }

  &__figure {
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// /Home Gallery //////////////////////////////////////////////////////////////////////

.section__home__gallery {
}

.home__gallery {
  &__container {
    display: grid;
    grid-template-columns: 1.5fr repeat(5, 1fr);
    grid-template-rows: 1fr;

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media only screen and (max-width: $bp-tab) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media only screen and (max-width: $bp-sm) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: $bp-smallest) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-smallestest) {
      grid-template-columns: 1fr;
    }
  }

  &__desc {
    background-color: $color-pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #ffffff;
    text-align: center;

    @media only screen and (max-width: $bp-smallestest) {
      padding: 3rem 0;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    fill: rgba(255, 255, 255, 0.2);
    width: 15rem;
    height: 15rem;
  }

  &__heading {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  &__twit {
    font-weight: 500;
  }

  &__figure {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &__span {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;
      display: block;
      top: 0;
      font-size: 6rem;
      color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s;
      z-index: 0;
      text-align: center;
    }
  }
  &__figure:hover > &__figure__span {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
  }

  &__figure:hover > &__img {
    transform: scale(1.1);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s;
  }
}
