.our-services {
  &__container {
    padding: 0 7.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-tab) {
      grid-template-columns: 1fr;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 0;
    }
  }

  &__card {
    padding: 6rem 3rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 2rem;
    grid-column-gap: 3.5rem;
    color: $color-header;
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    grid-row: 1/-1;
  }

  &__heading {
    font-size: 3rem;
    font-weight: 400;
  }

  &__cta {
    &,
    &:visited,
    &:link {
      align-self: start;
      justify-self: start;
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: 500;
      color: $color-header;
      transition: all 0.2s;
      display: inline-block;
    }

    span {
      display: block;
      width: 40%;
      height: 0.8px;
      background-color: currentColor;
      margin: 0.5rem 0;
      transition: all 0.2s;
    }
    &:hover {
      color: $color-pink;
    }
  }

  &__cta:hover > span {
    width: 100%;
  }
}
