.section__cards {
  text-align: center;
}

.card__btn {
  margin-top: 6rem;
}

.hearts__line {
  position: absolute;
  width: 1px;
  left: 50%;
  top: 50%;
  height: 80%;
  transform: translate(-50%, -50%);
  background-color: #ffbec1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-largest) {
    display: none;
  }

  &--span {
    display: block;
    width: 10rem;
    height: 10rem;
    background-color: #ffffff;
    border: 3px solid #ffbec1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #ffffff;
    transition: all 0.2s;
  }
}

.our-stay {
  &__heading {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
  }

  &__rose {
    width: 14.5rem;
    height: 7.3rem;
    object-fit: cover;

    @media only screen and (max-width: $bp-meduim) {
      display: none;
    }
  }

  &__header {
    font-size: 5rem;
    margin: 0 2.5rem;
    text-align: center;
  }

  &__gallery {
    padding: 0 7.5rem;
    position: relative;
    // background-image: url(../img/heart-group.png);
    // background-position: center;
    // background-size: 7%;
    // background-repeat: no-repeat;

    // @media only screen and (max-width: $bp-largest) {
    //   background-image: none;
    // }

    @media only screen and (max-width: $bp-sm) {
      padding: 0 2rem;
    }

    &--item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15%;
      align-items: center;
      justify-items: center;
      &:not(:last-child) {
        margin-bottom: 6rem;
      }

      @media only screen and (max-width: $bp-meduim) {
        grid-template-columns: 1fr;
        grid-gap: 3rem;
        &:not(:last-child) {
          margin-bottom: 10rem;
        }
      }
    }

    &--item:hover > &--figure {
      border-color: #ffbec1;
    }

    &--item--1:hover
      ~ .hearts__line
      > .hearts__line--span
      > .hearts__line--icon--1 {
      fill: #ffbec1;
    }

    &--item--2:hover
      ~ .hearts__line
      > .hearts__line--span
      > .hearts__line--icon--2 {
      fill: #ffbec1;
    }

    &--item--3:hover
      ~ .hearts__line
      > .hearts__line--span
      > .hearts__line--icon--3 {
      fill: #ffbec1;
    }

    &--item--4:hover
      ~ .hearts__line
      > .hearts__line--span
      > .hearts__line--icon--4 {
      fill: #ffbec1;
    }

    &--figure {
      width: 100%;
      height: 100%;
      border: 4px solid transparent;
      transition: all 0.2s;
      border-radius: 2rem;

      @media only screen and (max-width: $bp-meduim) {
        width: 70%;
      }
    }

    &--img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1.5rem;

      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
    }

    &--text {
      @media only screen and (max-width: $bp-meduim) {
        order: 2;
        text-align: center;
        width: 80%;
      }
    }

    &--heading {
      font-size: 3rem;
      margin-bottom: 1.5rem;
      color: $color-header;
      font-weight: 400;
    }

    &--date {
      font-size: 1.5rem;
      color: rgba($color-header, 0.75);
      margin-bottom: 1.5rem;
      font-weight: 600;
    }
  }
}
